* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    width: 100vw;
    background-color: gray;
    display: grid;

    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    grid-gap: 10px;
}

.space  {
    color: black;
    font-size: 30px;
    background-color: limegreen;
}

.five {
    justify-self: center;
    align-self: center;
}