* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: grid;
    /* grid-template-columns: 100px 100px 100px; */
    /* grid-template-columns: repeat(3, 1fr); */
    /* grid-template-columns: 20% 30% 50%; */
    /* grid-template-columns: minmax(200px, 1fr) 1fr 1fr; */
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    /* Só é aplicado no container */
}

.space {
    /* height: 300px; */
    /* width: 300px; */
    color: white;
    font-size: 30px;
}

.one {
    background-color: red;
}

.two {
    background-color: blue;
}

.three {
    background-color: green;
}

.four {
    background-color: yellow;
}

.five {
    background-color: purple;
}

.six {
    background-color: orange;
}

.seven {
    background-color: pink;
}

.eight {
    background-color: brown;
}

.nine {
    background-color: gray;
}