* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);

}

.space {
    /* height: 300px; */
    /* width: 300px; */
    color: white;
    font-size: 30px;
}

.one {
    background-color: red;
}

.two {
    background-color: blue;
    /* grid-row-start: 1;
    grid-row-end: 4; */
    grid-row: 1 / 4;
}

.three {
    background-color: green;
    /* grid-row-start: 2;
    grid-row-end: 4; */
    grid-row: 2 / 4;
}

.four {
    background-color: yellow;
}

.five {
    background-color: purple;
}

.six {
    background-color: orange;
}

.seven {
    background-color: pink;
}

.eight {
    background-color: brown;
}

.nine {
    background-color: gray;
}