* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;
    grid-gap: 10px;
    grid-template-areas: 
    "header header header"
    "nav main aside"
    "footer footer footer";
}

.space {
    color: white;
    font-size: 30px;
}

header {
    background-color: green;
    grid-area: header;
}

footer {
    background-color: blue;
    grid-area: footer;
}

nav {
    background-color: yellow;
    grid-area: nav;
}

main {
    background-color: red;
    grid-area: main;
}

aside {
    background-color: purple;
    grid-area: aside;
}