* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;
    grid-gap: 10px;
}

.space {
    color: white;
    font-size: 30px;
}

header {
    background-color: green;
    grid-column: 1 / 4;
}

footer {
    background-color: blue;
    grid-column: 1 / 4;
}

nav {
    background-color: yellow;
    grid-row: 2 / 3;
}

main {
    background-color: red;
    grid-column: 2 / 3;
}

aside {
    background-color: purple;
}